#
#	MetaCall EditorConfig Configuration by Parra Studios
#	Copyright (C) 2016 - 2019 Vicente Eduardo Ferrer Garcia <vic798@gmail.com>
#
#	EditorConfig helps developers define and maintain consistent coding
#	styles between different editors and IDEs (http://editorconfig.org)
#

root = true

[*]
indent_style = tab
indent_size = tab
tab_width = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
