# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
**/build*
build*
debug_build
release_build
/bin
/lib
/install

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Avoid ignoring build hooks
!hooks/build
!tools/base/hooks/build
!tools/core/hooks/build
!tools/dev/hooks/build
!tools/node/hooks/build
!tools/cli/hooks/build

# Qt cache
CMakeLists.txt.user
CMakeLists.txt.user.*

# IDE project files
*.sublime-project
*.sublime-workspace

# Local config windows
_configure.bat
_open-project.bat
_start-cmake-gui.bat
_start-cmd.bat

# Local config unix
.localconfig

# Visual Studio Code
.vscode

# Linked dockerignore file in main context
.dockerignore
!tools/base/.dockerignore
!tools/core/.dockerignore
!tools/dev/.dockerignore
!tools/node/.dockerignore
