[submodule "googletest"]
	path = source/tests/googletest
	url = https://github.com/google/googletest.git

[submodule "source/ports"]
	path = source/ports
	url = git@bitbucket.org:parrastudios/metacall-ports.git
