**
!cmake/**
!data/**
!deploy/**
!docs/**
!source/**
!tools/metacall-configure.sh
!tools/metacall-build.sh
!.clang-format
!CMakeLists.txt
!metacall-config.cmake.in
!metacall-config-version.cmake.in
!AUTHORS
!DESCRIPTION
!LICENSE
!README.md
!VERSION
!WELCOME
source/loaders/rs_loader/rust/target
