target/
.bloop/
.vscode/
.vsls.json
.bsp/
.metals/

*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea

# Disable from parent gitignore
!build.sbt
