name: Code formatting check
on: [push, pull_request]
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Run clang-format style check for C/C++.
      uses: jidicula/clang-format-action@v3.2.0
      with:
        clang-format-version: '11'
        check-path: 'source'
