name: Release Python Package

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [ master, develop ]
    paths:
      - '.github/workflows/release-python.yml'
      - 'source/ports/py_port/**'

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Python Port Tests
    runs-on: ${{ matrix.os }}
    strategy:
        fail-fast: false
        matrix:
          os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install MetaCall Unix
        if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
        run: curl -sL https://raw.githubusercontent.com/metacall/install/master/install.sh | sh -s -- --debug
      - name: Install MetaCall Windows
        if: matrix.os == 'windows-latest'
        run: powershell -NoProfile -ExecutionPolicy Unrestricted -Command "[Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12; &([scriptblock]::Create((Invoke-WebRequest -UseBasicParsing 'https://raw.githubusercontent.com/metacall/install/master/install.ps1')))"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Python Port
        working-directory: source/ports/py_port
        run: pip install -e .

      - name: Test the Python Port
        working-directory: source/ports/py_port
        run: python test.py

  release:
    name: Release Python Port
    runs-on: ubuntu-latest
    needs: test
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Release the port
        working-directory: source/ports/py_port
        run: ./upload.sh
