name: Release Python Package

on:
  push:
    branches: [ master, develop ]
    paths:
      - 'source/ports/py_port/**'

permissions:
  id-token: write
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  release:
    name: Release Python Port
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Release the port
        working-directory: source/ports/py_port
        run: ./upload.sh
