name: Release Python Package

on:
  push:
    branches: [ master, develop ]
    paths:
      - 'source/ports/py_port/VERSION'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  PYTHON_PIPY_USER: ${{ secrets.PYTHON_PIPY_USER }}
  PYTHON_PIPY_PASSWORD: ${{ secrets.PYTHON_PIPY_PASSWORD }}

jobs:
  release:
    name: Release Python Port
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Release the port
        run: |
          cd source/ports/py_port
          bash ./upload.sh
