name: Cross-Platform Test

on:
  workflow_dispatch:
  pull_request:

jobs:
  linux-test:
    name: Linux (Ubuntu) GCC Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        buildtype: [debug, release]
    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # Revert the NodeJS version in order to use the system one instead (needed due to libnode)
      - name: Delete latest version of NodeJS
        run: |
          yes | sudo n uninstall
          # Source: https://github.com/tj/n/issues/540#issuecomment-443844202
          sudo rm -f "/usr/local/bin/node"
          sudo rm -f "/usr/local/bin/npm"
          sudo rm -f "/usr/local/bin/npx"
          sudo rm -rf "/usr/local/include/node"
          sudo rm -rf  "/usr/local/lib/dtrace/node.d"
          sudo rm -rf "/usr/local/lib/node_modules/npm"
          sudo rm -rf "/usr/local/share/doc/node"
          sudo rm -rf "/usr/local/share/man/man1/node.1"
          sudo rm -rf "/usr/local/share/systemtap/tapset/node.stp"
          # Creating a symbolic link to bypass path reference bug
          sudo ln -s /usr/bin/node /usr/local/bin/node
          sudo ln -s /usr/bin/npm /usr/local/bin/npm
          sudo ln -s /usr/bin/npx /usr/local/bin/npx

      - name: Set up the environment
        run: sudo ./tools/metacall-environment.sh ${METACALL_INSTALL_OPTIONS}
        env:
          DEBIAN_FRONTEND:             noninteractive
          LTTNG_UST_REGISTER_TIMEOUT:  0
          NUGET_XMLDOC_MODE:           skip
          DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
          METACALL_INSTALL_OPTIONS:    root base python ruby netcore5 nodejs typescript file rpc wasm java c cobol rust rapidjson funchook swig pack

      - name: Configure
        run: |
          export "METACALL_PATH=$(pwd)"
          export "LOADER_LIBRARY_PATH=${METACALL_PATH}/build"
          export "LOADER_SCRIPT_PATH=${METACALL_PATH}/build/scripts"
          export "CONFIGURATION_PATH=${METACALL_PATH}/build/configurations/global.json"
          export "SERIAL_LIBRARY_PATH=${METACALL_PATH}/build"
          export "DETOUR_LIBRARY_PATH=${METACALL_PATH}/build"
          export "PORT_LIBRARY_PATH=${METACALL_PATH}/build"
          mkdir -p build
          cd build
          sudo "${METACALL_PATH}/tools/metacall-configure.sh" ${METACALL_BUILD_TYPE} ${METACALL_BUILD_OPTIONS}
        env:
          DEBIAN_FRONTEND:             noninteractive
          LTTNG_UST_REGISTER_TIMEOUT:  0
          NUGET_XMLDOC_MODE:           skip
          DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
          NODE_PATH:                   /usr/lib/node_modules
          METACALL_BUILD_TYPE:         ${{ matrix.buildtype }}
          METACALL_BUILD_OPTIONS:      root python ruby netcore5 nodejs typescript file rpc wasm java c cobol rust examples tests scripts ports dynamic install pack benchmarks

      - name: Build
        run: |
          export "METACALL_PATH=$(pwd)"
          export "LOADER_LIBRARY_PATH=${METACALL_PATH}/build"
          export "LOADER_SCRIPT_PATH=${METACALL_PATH}/build/scripts"
          export "CONFIGURATION_PATH=${METACALL_PATH}/build/configurations/global.json"
          export "SERIAL_LIBRARY_PATH=${METACALL_PATH}/build"
          export "DETOUR_LIBRARY_PATH=${METACALL_PATH}/build"
          export "PORT_LIBRARY_PATH=${METACALL_PATH}/build"
          cd build
          sudo "${METACALL_PATH}/tools/metacall-build.sh" ${METACALL_BUILD_TYPE} ${METACALL_BUILD_OPTIONS}
        env:
          DEBIAN_FRONTEND:             noninteractive
          LTTNG_UST_REGISTER_TIMEOUT:  0
          NUGET_XMLDOC_MODE:           skip
          DOTNET_CLI_TELEMETRY_OPTOUT: 'true'
          NODE_PATH:                   /usr/lib/node_modules
          METACALL_BUILD_TYPE:         ${{ matrix.buildtype }}
          METACALL_BUILD_OPTIONS:      root python ruby netcore5 nodejs typescript file rpc wasm java c cobol rust examples tests scripts ports dynamic install pack benchmarks
