# Note: This is duplicated from sanitizer.yml in order to keep the ci running if one of both sanitizers fail
name: Thread Sanitizer Test

on:
  workflow_dispatch:
  pull_request:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - master

jobs:
  linux-sanitizer:
    name: Linux (Ubuntu) GCC Thread Sanitizer Test
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install, build and run thread sanitizer tests
        run: ./docker-compose.sh thread-sanitizer
